
.mat-dialog-content {
    max-height: 90%;
}

.mat-dialog-actions {
    display: flex;
    justify-content: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

.pic {
    display: block;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
